---
layout: default
title: Archives
---

<h1>Archives</h1>

<section id="archive">
  {%for post in site.posts %}
    {% unless post.next %}
  <h3>{{ post.date | date: '%Y' }}</h3>
  <table>
    {% else %}
      {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
      {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
      {% if year != nyear %}
  </table>
  <h3>{{ post.date | date: '%Y' }}</h3>
  <table>
      {% endif %}
    {% endunless %}
  <tr>
    <td width=14%><span class="post-date-archive">{{ post.date | date:"%d %b" }}</span></td>
    <td><a href="{{ post.url }}">{{ post.title }}</a></td>
  </tr>
  {% endfor %}
  </table>
</section>
